requests==2.31.0						# Make HTTP requests
beautifulsoup4==4.12.3			# Parse HTML responses
colorlog==6.8.2							# Extensive console logging
tqdm==4.66.1							  # Progressbar for downloads
setuptools==69.0.3
